@import "modern-normalize";

:root {
  overscroll-behavior: none;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

::selection {
  background-color: var(--gg-colors-selectionBackground);
  color: var(--gg-colors-selectionForeground);
}

textarea,
select,
input {
  outline: none;
  border: var(--gg-components-borderSubtle);
  border-radius: var(--gg-components-inputRadius);
  padding: var(--gg-components-inputPadding);
  transition: border-color var(--gg-components-transitionFast), box-shadow var(--gg-components-transitionFast);

  &:focus-visible {
    border-color: var(--gg-colors-focusRing);
    border-width: 2px;
    padding: calc(var(--gg-components-inputPadding) - 1px);
  }

  caret-color: var(--gg-colors-focusRing);

  background-color: var(--gg-colors-background);
  color: var(--gg-colors-foreground);
  scrollbar-color: var(--gg-colors-foreground) var(--gg-colors-background);

  &:disabled {
    background-color: transparent;
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--gg-colors-foreground);
    border-radius: 6px;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--gg-colors-background);
  }
}

textarea {
  font-family: var(--gg-text-familyCode);
}

pre, code {
  font-family: var(--gg-text-familyCode);
  font-size: var(--gg-text-sizeMd);
}

@supports (appearance: base-select) {
  ::picker(select) {
    outline: none;
    border: var(--gg-components-borderSubtle);
    border-radius: var(--gg-components-inputRadius);
    padding: 1px;

    background-color: var(--gg-colors-background);
    color: var(--gg-colors-foreground);
  }
}

h1,
h2,
h3 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

/* make generic elements drop-transparent */
div,
span,
section,
h3 {
  pointer-events: none;
}

textarea,
select,
input,
button,
ol,
ul,
label {
  pointer-events: all;
}
