name: 'ci'

on:
  push:
    branches:
      - master

jobs:
  build-check-test:
    runs-on: "ubuntu-22.04"
    env:
        RUST_BACKTRACE: "1"
    steps:
      - uses: actions/checkout@v4

      - uses: awalsh128/cache-apt-pkgs-action@v1
        with:
          packages: libgtk-3-dev libwebkit2gtk-4.1-dev libappindicator3-dev librsvg2-dev patchelf
          version: 1.0                  

      # build frontend, required for backend build 
      - uses: actions/setup-node@v4
        with:
            node-version: '20'
            cache: 'npm'
      
      - run: npm ci
      - run: npm run build

      # build backend, required for frontend tests
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2

      - run: cargo build

      # get extra test deps and run everything
      - run: npx playwright install --with-deps chromium
      
      - run: cargo test
      - run: npm run test
